<body style="background-color:lightblue ;">
    <div class="container">
        <div class="row  d-flex justify-content-evenly">
          <div class="col ">
           <img src="assets/images/14.jpg"/>
           <h4 style="font-size:15px ;">3 ESSENTIAL GARDEN TOOLS</h4>
           
            <h5>1.Gloves</h5>
            <p>
             While gardening can be a wonderful hobby, it can quickly turn into a thorny and splintery hassle without the right pair of gloves.Gloves should be durable but not too bulky, especially for working with seeds or transplanting seedlings.Fit is important, as poorly fitting gloves can cause blisters or result in accidents from slipping off.
             Fabrics that are water resistant, but also breathable, will help keep hands cool and comfortable.
            </p>
            
            <h5>2.Hand Trowel</h5>
             <p>
            The essential hand tool, trowels are wonderful for transplanting bedding plants and herbs, planting containers, and taking out weeds.Select a broad blade to move more soil or a long, narrow blade to dig up weeds or for rocky soil.
            The handle should fit comfortably in your hand.Trowels forged from stainless steel, or at least with a stainless steel head, are more durable and will last longer.</p>
            <h5>3.Hoe</h5>
           <p>Your type of garden will dictate what type of hoe is best for you. A veggie garden may require a sturdy, wide hoe. If you have perennial gardens, a more delicate touch and a thinner hoe may be required. Hoes are useful in preparing garden and flower beds and cutting down weeds.</p>
           
          </div>
          <div class="col">
            <img src="assets/images/15.png"/>
            <h4 style="font-size:15px;">Tips for Healthy Houseplants</h4>
            <h5>Match plants with light conditions.</h5>
            <p>Houseplants vary in their light requirements. Some prefer the strong light found next to a south-facing window. Others thrive in the soft morning light of an east-facing window. Distance from the window will affect light intensity and quality. And to make matters more complicated, light intensity and patterns vary with the seasons. One thing for sure, all houseplants do best with some light from outdoors. Some need less than others (view our list of low-light houseplants), but the better you match the plants with the light conditions where they will grow, the happier you and your plants will be.Your plants will also tell you if they are getting too much or too little light. Too much light usually turns the foliage dull green to yellowish, and the leaves may also wilt even if the plant has plenty of water. If plants are not getting enough light, they will get leggy and less compact.</p>
            <h5>Use good-quality potting soil.</h5>
            <p>Good potting soil (never use regular garden soil in containers) promotes healthy roots by providing a balance of proper aeration, nutrition and moisture-holding capability. Nurseries and garden centers carry an excellent selection of packaged potting soils.</p>
            <h5>Water properly.</h5>
            <p> Like all containerized plants, houseplants need frequent, thorough watering. Wet the entire root ball, and let excess water run out the bottom of the pot. Don't leave standing water in the catch-tray for more than a day or two. Doing so can promote root diseases. Allow the soil to partially dry before watering again. To check soil moisture, stick your finger into the top 2 inches of soil. If it is dry, it's probably time to water. You can also tell how dry a plant is by lifting the pot. It will be heavy after watering, lighter as it dries out. To prevent salts from building up in the soil, water especially heavily (refilling the container four or five times) once every month or two. This is most easily done by placing the plant in a sink or taking it outdoors.</p>
          </div>
        </div>
      </div>

</body>

